.progress-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
  padding: 0 0 30px 0;
  cursor: pointer;

  &:hover {
    .progress-bar {
      height: 20px;
    }

    .progress-time {
      opacity: 1;
    }
  }
}

.progress-bar {
  height: 5px;
  float: left;
  width: 0;
  background: rgba(255,255,255,.5);
  transition: width .2s ease-in-out 0s, height .2s ease-in-out 0s;
}

.progress-time {
  position: absolute;
  right: 0;
  background: #222;
  color: #fff;
  opacity: 0;
  padding: 0 5px;
  transition: opacity .3s ease-in-out 0s;
}